@mainColor: #2277DA;
@sCA1: #fff;
@sCA2: #262626;
@sCA3: #f2f2f2;
@sCA4: #555555;
@sCA5: #797979;
.border(@color) {
    border: 1px solid @color;
}
// ::-webkit-scrollbar {
//   display: none;
// }
html,
body {
  font-size: 5.2vw;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // -moz-user-select: none;
  // -o-user-select:none;
  // -khtml-user-select:none;
  // -webkit-user-select:none;
  // -ms-user-select:none;
  // user-select:none;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
img {
  vertical-align: middle;
}
ul,li {
  padding: 0;
  margin: 0;
  // list-style-type: disc;
  list-style-position: inside;
}
p {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 100%;
  height: 100%;
}
.container {
  box-sizing: border-box;
  padding: 40px 0 0 0px;
}

.aside {
  margin-top: 60px;
  padding: 0px 0 0 40px;
}
.aside .name {
  height: 56px;
  font-size: 22px;
  font-weight: 500;
}
.aside-item {
  width: 160px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
} 
.right {
  flex: 1;
  height: 100%;
  overflow: auto;
}
.tabText {
  /* width: 100px; */
  padding: 0 10px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border-bottom-width: 4px !important;
}

// element表格
.listBox .cell {
  line-height: 28px;
  text-align: center;
  color: #000 !important;
}

.el-table thead tr th{
  background-color: #f2f2f2;
}
.el-table {
  font-size: 12px !important;
}
.el-table th {
  padding: 0 !important;
}
.el-table td{
  padding: 0 !important;
}
.el-table tbody td .cell {
  line-height: 38px !important;

}
.el-table::before {
  height: 0px !important;
}
.el-table__fixed::before {
  height: 0px !important;
}

// 表单
.el-input__inner {
  height: 30px !important;
  line-height: 30px !important;
}

// select选择器
.el-select-dropdown__item.hover {
  background:  #E5F2FF;
  color: #2277DA !important;
}

.contract .el-input__inner {
  border: none;
  width: 100px;
}
.meeting .el-input__inner {
  width: 130px;
}
.editItem .el-input {
  width: 200px;
}
.editItem .el-input__icon {
  margin-right: -10px;
}

.meetRoom .el-input {
  width: 140px;
}
.editItem.selectDate  .el-input__icon {
  display: none;
}
// 时间选择器
.selectMonth .el-input__inner {
  text-indent: 30px
}
.editItem .el-input__inner {
  padding: 0 !important;
  border: none !important;
}
.editItem .el-date-editor .el-range__icon {
  display: none !important;
}
.editItem .el-date-editor .el-range-separator {
  color: #666;
  margin-right: 10px;
}
.el-time-panel__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.editItem .el-date-editor .el-range-input {
  text-align: left !important;
  width: 50px;
}
.editItem .el-date-editor--timerange.el-input__inner {
  display: flex;
  flex-direction: row;
}
// .meetselectDate .el-input--prefix .el-input__inner {
//   border: none;
// }
.meetselectDate .el-date-editor.el-input {
  width: 150px;
}

.timeRange .el-icon-time:before {
  display: none;
}
// .editItem .el-date-editor .el-range-input {
//   width: 60px !important;
// }
.editItem .el-date-editor--timerange.el-input__inner {
  flex: 1 !important;
}
// 弹框
.el-dialog__header {
  padding: 20px 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.el-dialog__body {
  padding: 20px !important;
}
